<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IMailService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59749/MailService.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IMailService" contract="MailServiceReferenceKalu.IMailService"
                name="WSDualHttpBinding_IMailService">
                <identity>
                    <userPrincipalName value="DESKTOP-FRFCCSE\lukar" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>